*{
    font-family: 'TheSans Swisscom';
    padding: 0;
}


.skillsBody{
    background: #333;
}

html {
    font-family: 'TheSans Swisscom',sans-serif;
    box-sizing: border-box;
}

  *, *:before, *:after {
    box-sizing: inherit;
}

.text-center {
    text-align: center;
}

.color-white {
    color: #fff;
}

.box-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 35px 15px;
    width: 100%;
    flex-wrap: wrap;
}

@media screen and (min-width:1380px) {
    .box-container {
    flex-direction: row
    }
}

.box-item {
    position: relative;
    --webkit-backface-visibility: hidden;
    width: 415px;
    margin-bottom: 35px;
    max-width: 100%;
}

.flip-box {
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 1000px;
    -webkit-perspective: 1000px;
}

.flip-box-front,
.flip-box-back {
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    min-height: 475px;
    -ms-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    -webkit-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-front {
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-box-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-back {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-box .inner {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 60px;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
    
    transform: translateY(-50%) translateZ(60px) scale(.94);
    -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
    -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
    top: 50%;
}

.flip-box-header {
    font-size: 34px;
}

.flip-box p {
    font-size: 20px;
    line-height: 1.5em;
}

.flip-box-img {
    margin-top: 25px;
}

.flip-box-button {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
    padding: 15px 20px;
    text-transform: uppercase;
}

/*Skillbar*/
.skills-bar{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap
}


.wrapper{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.wrapper2{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.wrapper3{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

h2{
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 33px;
    color: #fff;
    font-weight: bold;
}

span{
    color: #fff;
}
.skills:not(:last-child){
    margin-bottom: 30px;
}
.details{
    width: 100%;
    display: flex;  
    justify-content: space-between;
    margin-bottom: 10px;
}
.bar{
    position: relative;
    border: 2px solid #0d96e0;
    border-radius: 20px;
}
.bar div{
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: #0d96e0;
}
#html-bar{
    animation: html-fill 2s forwards;
}
@keyframes html-fill{
    100%{
        width: 90%;
    }
}
#css-bar{
    animation: css-fill 2s forwards;
}
@keyframes css-fill{
    100%{
        width: 75%;
    }
}
#js-bar{
    animation: js-fill 2s forwards;
}
@keyframes js-fill {
    100%{
        width: 72%;
    }
}
#jQuery-bar{
    animation: jQuery-fill 2s forwards;
}
@keyframes jQuery-fill{
    100%{
        width: 60%;
    }
} 

#vue-bar{
    animation: vue-fill 2s forwards;
}
@keyframes vue-fill{
    100%{
        width: 85%;
    }
}

#react-bar{
    animation: react-fill 2s forwards;
}
@keyframes react-fill{
    100%{
        width: 40%;
    }
}
#react-bar{
    animation: react-fill 2s forwards;
}
@keyframes react-fill{
    100%{
        width: 40%;
    }
}

#blazor-bar{
    animation: blazor-fill 2s forwards;
}
@keyframes blazor-fill{
    100%{
        width: 50%;
    }
}

#german-bar{
    animation: german-fill 2s forwards;
}
@keyframes german-fill{
    100%{
        width: 100%;
    }
}

#englisch-bar{
    animation: englisch-fill 2s forwards;
}
@keyframes englisch-fill{
    100%{
        width: 90%;
    }
}

#french-bar{
    animation: french-fill 2s forwards;
}
@keyframes french-fill{
    100%{
        width: 50%;
    }
}